<!--
 * @file: 
 * @author: linkun.he
 * @Date: 2020-01-19 08:43:36
 -->

<script type="text/javascript">
  <%
    var categories = site.categories;
    var posts = site.posts;
    var postEdit = [];

    var categoriesFormat = categories.map(function (i) {
      return i.name.split('/')
    })
    var menus = [];
    categoriesFormat.forEach(function (i) {
      var o1 = {},
        o2 = {},
        o3 = {};

      if (i[2]) {
        o3 = {
          name: i[2],
          children: [],
        }
      }
      if (i[1]) {
        o2 = {
          name: i[1],
          children: [],
        }
        if (i[2]) {
          o2.children.push(o3)
        }
      }
      o1 = {
        name: i[0],
        children: [],
      }
      if (i[1]) {
        o1.children.push(o2)
      }

      var m3Equal = false;
      var m2Equal = false;
      var mEqual = false;

      menus.forEach(function (m) {
        if (m.name === i[0]) {
          mEqual = true;
          m.children.forEach(function (m2) {
            if (i[1] && m2.name === i[1]) {
              m2Equal = true;
              m2.children.forEach(function (m3) {
                if (i[2] && m3.name === i[2]) {
                  m3Equal = true;
                }
              })
              if (!m3Equal && i[2]) {
                m2.children.push(o3)
              }
            }
          })
          if (!m2Equal && i[1]) {
            m.children.push(o2)
          }
        }
      })
      if (!mEqual) {
        menus.push(o1)
      }
    })

    posts.map(function (post) {
      var categoryName = "";
      post.categories.forEach(function (category) {
        categoryName = category.name
      });
      postEdit.push({ 'name': post.title, "path": post.path, "categories": categoryName });
    });

    var inM1 = true,
      inM2 = true,
      inM3 = true;
    postEdit.forEach(function (p) {
      var cs = p.categories.split('/');
      menus.forEach(function (m) {
        // 一级菜单中匹配到
        if (m.name == cs[0]) {
          // 若文章还有二级分类
          if (cs[1]) {
            // 循环菜单二级分类
            m.children.forEach(function (m2) {
              // 如果匹配上
              if (m2.name == cs[1]) {
                // 如果文章还有三级分类
                if (cs[2]) {
                  // 循环三级分类匹配
                  m2.children.forEach(function (m3) {
                    if (m3.name == cs[2]) {
                      m3.children.push(p);
                    }
                  })
                  // 只有二级分类
                } else {
                  m2.children.push(p);
                }
              }
            })
            // 文章只有一级分类
          } else {
            m.children.push(p);
          }
        }
      })
    })
    // var menus = JSON.stringify(menus);
  %>
    // console.log("menus",   <%- menus %>)
</script>

<script>
window.onload = function(){
  $(".menu-node").click(function(event){
    var chindMenuNode = $(this).next();
    if(chindMenuNode.hasClass('menu-hidden')){
      chindMenuNode.removeClass('menu-hidden');
      chindMenuNode.addClass('menu-show');

      var arraw =  $(this).children('i');
      arraw.removeClass('arrow-down');
      arraw.addClass('arrow-up');
      
    }else{
      chindMenuNode.removeClass('menu-show');
      chindMenuNode.addClass('menu-hidden');
      var arraw =  $(this).children('i');
      arraw.removeClass('arrow-up');
      arraw.addClass('arrow-down');
    }
  });

}


</script>


<ul class="menu-wrap">
  <!-- 一级菜单start -->
  <% menus.forEach(function(fir){ %>
    <li class="menu-node" >
      <% if(fir.path){ %> 
        <a href="<%= url_for(fir.path) %>" ><%= fir.name %> </a>
      <% }else{ %>
        <%= fir.name %> 
      <% } %>


      <% if(!fir.path){ %> 
        <i  class="arrow-down"></i>
      <% } %>
    </li>

     <!-- 2级菜单start -->
    <% if(fir.children && fir.children.length>0){ %> 
      <ul class="sec-menu-wrap menu-hidden">
        <% fir.children.forEach(function(sec){ %>
          <li class="menu-node" > 
            <% if(sec.path){ %> 
              <div class="name-wrap">
                <a href="<%= url_for(sec.path) %>" ><%= sec.name %> </a>
              </div>
            <% }else{ %>
              <div class="name-wrap">
                <%= sec.name %> 
              </div>
            <% } %>
            
            <% if(!sec.path){ %> 
              <i  class="arrow-down"></i>
            <% } %>
          </li>
         

          <!-- 3级菜单start -->
          <% if(sec.children && sec.children.length>0){ %> 
            <ul class="third-menu-wrap menu-hidden">
              <% sec.children.forEach(function(third){ %>
                <li class="menu-node" > 
                  <% if(third.path){ %> 
                    <div class="name-wrap">
                      <a href="<%= url_for(third.path) %>" ><%= third.name %> </a>
                    </div>
                  <% }else{ %>
                    <div class="name-wrap">
                      <%= third.name %> 
                    </div>
                  <% } %>

                  <% if(!third.path){ %> 
                    <i  class="arrow-down"></i>
                  <% } %>
                </li>

                <!-- 4级菜单start -->
                <% if(third.children && third.children.length>0){ %> 
                  <ul class="fourth-menu-wrap menu-hidden">
                    <% third.children.forEach(function(fourth){ %>
                      <li class="menu-node" >
                        <% if(fourth.path){ %> 
                          <div class="name-wrap">
                            <a href="<%= url_for(fourth.path) %>" ><%= fourth.name %> </a>
                          </div>
                        <% }else{ %>
                          <div class="name-wrap">
                            <%= fourth.name %> 
                          </div>
                        <% } %>

                        <% if(!fourth.path){ %> 
                          <i  class="arrow-down"></i>
                        <% } %>
                      </li>
                     
                    <% }); %> 
                  </ul>
                <% } %>
                <!-- 4级菜单end -->

              <% }); %> 
            </ul>
          <% } %>
          <!-- 3级菜单end -->
        <% }); %> 
      </ul>
    <% } %>
    <!-- 2级菜单end -->

  <% }); %>
  <!-- 一级菜单end -->
</ul>

<style>
   .menu-node {
    padding: 0 34px 0 24px;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
    color: #333;
    background-image: url('../medias/body-bg.png') ;
    font-weight: bold;
    font-family:   KaiTi, LiSu,  KaiTi, STZhongsong,   STSong,  FangSong,  SimSun,  SimSun,TChinese, "Microsoft YaHei";
  }
  .menu-node a{
    color: #333;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .menu-node:hover{
    color: #000;
  }
  .menu-wrap{
    background-color: #E8DCCA;
  }
  .sec-menu-wrap,
  .third-menu-wrap,
  .fourth-menu-wrap{
    background-color: #E8DCCA;
    // box-shadow:  0 0px 2px #E7DBC9;
  }

  .menu-show {
    max-height: 2000px;
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .menu-hidden {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
   transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
 

  .sec-menu-wrap .name-wrap{
    padding-left: 20px;
    font-size: 16px;
  }
  .third-menu-wrap .name-wrap{
    padding-left: 40px;
    font-size: 14px;
  }
  .fourth-menu-wrap .name-wrap{
    padding-left: 60px;
    font-size: 13px;
  }
  

  .arrow-up::before,
  .arrow-up::after,
  .arrow-down::before,
  .arrow-down::after{
    position: absolute;
    width: 6px;
    height: 1.5px;
    vertical-align: baseline;
    border-radius: 2px;
   
    -webkit-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#333),
      to(#333)
    );
    background-image: linear-gradient(90deg, #333, #333);
  }

  .arrow-up {
    position: absolute;
    top: 50%;
    right: 26px;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    opacity: 0.9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .arrow-up::before{
    -webkit-transform: rotate(45deg) translateX(2px);
    transform: rotate(45deg) translateX(2px);
  }
  .arrow-up::after{
    -webkit-transform: rotate(-45deg) translateX(-2px);
    transform: rotate(-45deg) translateX(-2px);
  }
  .arrow-down {
    position: absolute;
    top: 50%;
    right: 26px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0.9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .arrow-down::before{
    -webkit-transform: rotate(-45deg) translateX(2px);
    transform: rotate(-45deg) translateX(2px);
  }
  .arrow-down::after{
    -webkit-transform: rotate(45deg) translateX(-2px);
    transform: rotate(45deg) translateX(-2px);
  }


  ul{
    padding-left: 0;
  }
</style>
